<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <hgroup>
        <h4>Ocorreu um erro </h4>
        <h4>o Erro foi : @ViewData["Erro"]</h4>
    </hgroup>
</body>
</html>
